* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Style the navigation menu */
.topnav {
overflow: hidden;
background-color: #003262;
position: relative;
padding-top: 1%;
padding-bottom: 1%;
}

/* Holds the logo, name, and drop down menu */
.header {
    display: flex;
    justify-content: space-between;
}

/* The Logo */
#navLogo {
    margin-left: 3%;
    width: 125px;
    height: 50px;
}

/* The Name */
.navName {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    font-size: 20px;
    text-align: left;
    color: white;
}

/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3%;
    }

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #C4820E;
    color: #003262;
}

/* Style navigation menu links */
.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    text-align: center;
}


/* Container for each Category of Resources */
.resContainer {
    padding: 2% 5%;
}

/* Manages the Header for each section */
.resHeader {
    color: gray;
    padding-left: 5%;
    font-size: 50px;
}

/* All Resources within the group */
.resGroup {
    padding-left: 10%;
}

/* Each individual Resource */
.subRes {
    margin-top: 2%;
}

/* Holds the plus icon and title */
.resTop {
    display: flex;
}

/* Effects how the icon and title looks when hovered on */
.resTop:hover {
    background-color: #003262;
}

/* Effects  the title */
.resTitle {
    padding-left: 2%;
    text-decoration: none;
    display: block;
    color: #C4820E;
    font-size: 25px;
}

/* The sign on the side */
.plusIcon {
    text-decoration: none;
    display: block;
    color: #C4820E;
    font-size: 25px;
}

/* Container for the links and resource descriptions */
.descHide {
    display: none;
}

.descHide a {
    text-decoration: none;
    display: block;
    color: #C4820E;
    font-size: 18px;
}

/* The description that is hidden*/
.resDescription {
    margin-top: 2%;
    font-size: 20px;
    display: block;
}

/* The links that are hidden */
.link {
    margin-top: 1%;
}

/* MOdifies how the links look */
.descHide a:hover{
    background-color: #FDB515;
    color: #3B7EA1;
}


