* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Style the navigation menu */
.topnav {
overflow: hidden;
background-color: #003262;
position: relative;
padding-top: 1%;
padding-bottom: 1%;
}

/* Holds the logo, name, and drop down menu */
.header {
    display: flex;
    justify-content: space-between;
}

/* The Logo */
#navLogo {
    margin-left: 3%;
    width: 125px;
    height: 50px;
}

/* The Name */
.navName {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5%;
    font-size: 20px;
    text-align: left;
    color: white;
}

/* Style the hamburger menu */
.topnav a.icon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3%;
    }

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
    display: none;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
    background-color: #C4820E;
    color: #003262;
}

/* Style navigation menu links */
.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
text-align: center;
}

/* The main body */
.main {
    display: block;
}


/* The Backgrounds for the Blocks */
.altOne {
    background-color: #FDB515;
    height: 50%;
    width: 100%;
}

.altTwo {
    background-color: #3B7EA1;
    height: 50%;
    width: 100%;
}

/* Initialize some basic containers for each section */
.bodyCon {
    display: flex;
    text-align: center;
    justify-content: space-between;
    height: 100%;
}

.background {
    margin: 5% 10%;
    border: 2px solid #C4820E;
    padding: 0px 5%;
    background-color: white;
    width: 75%;
}

.parHeader {
    margin: 5% 0px;
    font-size: 30px;
}

/* Placeholder paragraphs */
.par {
    margin-top: 5%;
    margin-bottom: 10%;
    font-size: 17px;
    line-height: 150%;
}